name: CD Pipeline

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker compose pull
        run: |
          docker compose pull

      - name: Docker compose down
        run: |
          docker compose down || true

      - name: Docker compose up
        run: |
          docker compose up -d

      - name: Restart containers
        run: |
          docker compose restart
